<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{site.title}} | {{title}}</title>
  <link rel="alternate" type="application/rss+xml" href="{{site.feed_url}}" />

  <!-- BOOTSTRAP -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/stylesheets/screen.css" />

  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
</head>
<body class="{{slug}}" data-spy="scroll" data-target="#topnav" data-offset="85">
<div id="wrap">
  <!-- Static navbar -->
    {% include 'includes/navbar' %}
  <!-- /navbar -->

  {% if url == '/' %}<!-- checks for home page -->

  <!-- home content -->
  {% include 'includes/homecontent' %}
  <!-- /home content -->

  {% else %}<!-- for all other pages -->

  <!-- page content -->
  {% include 'includes/pagecontent' %}
  <!-- /page content -->

  {% endif %}
</div><!-- /wrap -->
  
<!-- footer -->
  {% include 'includes/footer' %}
<!-- /footer -->

<!-- JS -->
  {% include 'includes/js' %}
<!-- /js -->
</body>
</html>