<div id="footer">
  <div class="container">
    <div class="row">
      <section class="footer col-md-3">
        <ul class="list-unstyled">
          <li><a href="http://www.bayfieldgov.org/">Town of Bayfield</a></li>
          <li><a href="http://www.cityofcortez.com/">City of Cortez</a></li>
          <li><a href="http://www.townofdolores.com/">Town of Dolores</a></li>
          <li><a href="http://www.dolorescounty.org/">Town of Dove Creek</a></li>
          <li><a href="http://www.durangogov.org/">City of Durango</a></li>
        </ul>
      </section>
      <section class="footer col-md-3">
        <ul class="list-unstyled">
          <li><a href="http://www.townofignacio.com/">Town of Ignacio</a></li>
          <li><a href="http://www.mancoscolorado.com/">Town of Mancos</a></li>
          <li><a href="http://www.townofpagosasprings.com/">Town of Pagosa Springs</a></li>
          <li><a href="http://www.ricocolorado.org/">Town of Rico</a></li>
          <li><a href="http://www.silvertoncolorado.com/">Town of Silverton</a></li>
        </ul>
      </section>
      <section class="footer col-md-3">
        <ul class="list-unstyled">
          <li><a href="http://www.archuletacounty.org/">Archuleta County</a></li>
          <li><a href="http://www.dolorescounty.org/">Dolores County</a></li>
          <li><a href="http://co.laplata.co.us/">La Plata County</a></li>
          <li><a href="http://www.sanjuancountycolorado.us/">San Juan County</a></li>
        </ul>
      </section>
      <section class="footer col-md-3">
        <!-- Single button -->
        <div class="btn-group dropup">
          <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
            Meeting Minutes <span class="caret"></span>
          </button>
            {{ site.pages.meeting-minutes.body }}
          
        </div>
        <div class="clearfix"></div>
        <address>
          <strong>Southwest Colorado Council of Governments</strong><br /> 
          PO Box 963<br />
          Durango, CO 81302<br />
          p: 970-779-4592
        </address>
          
      </section>
    </div><!-- /row -->
    <div class="row">
      <section class="col-md-12 copyright">
        &copy; Southwest Colorado Council of Governments (SWCCOG) 
      </section>
    </div><!-- /row -->
  </div>
</div>