@import url(//fonts.googleapis.com/css?family=Open+Sans:300,400,700,800);
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* Variables */
html,
body {
  height: 100%; }

body {
  background: url(/images/colorado-bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  padding-top: 60px; }
  body ul.nav li {
    text-transform: uppercase; }
  body a.navbar-brand img, body #footer address.navbar-brand img, #footer body address.navbar-brand img {
    max-width: 32px;
    height: auto; }
  body section {
    background-color: white;
    padding: 2em 0; }
    body section h1 {
      clear: both;
      font-weight: 700;
      text-transform: uppercase; }
    body section h4 {
      font-size: 1.5em;
      font-weight: 500;
      margin-top: 1em;
      text-transform: uppercase; }
    body section img {
      display: inline-block;
      float: right;
      height: auto;
      max-width: 100%;
      margin: 1em;
      padding: 4px;
      line-height: 1.428571429;
      background-color: #fff;
      border: 1px solid #ddd;
      border-radius: 4px;
      -webkit-transition: all .2s ease-in-out;
      transition: all .2s ease-in-out; }
    body section p {
      font-size: 1.25em;
      font-weight: 300; }
    body section .container {
      max-width: 970px; }
  body section#home {
    background-color: rgba(41, 128, 185, 0.6);
    color: white;
    margin-top: -0.7em;
    min-height: 18em;
    text-align: center; }
    body section#home .container img {
      background-color: transparent;
      border: none;
      margin-top: 3em; }
  body section#content {
    min-height: 30.35em; }

.home section#mission {
  background-color: #2980b9;
  color: white;
  font-size: 1.25em; }
  .home section#mission h4 {
    margin-top: 10px; }
.home section#map {
  background-color: white;
  text-align: center; }
  .home section#map img {
    float: none;
    max-width: 900px;
    width: 100%; }
.home section#about {
  background-color: #bdc3c7;
  color: #222222;
  font-size: 1.25em; }
.home section#news {
  background-color: #bdc3c7;
  font-size: 1.25em; }
  .home section#news article {
    border-bottom: 1px solid #a1aab0;
    margin-bottom: 1.5em;
    padding-bottom: 2em; }
    .home section#news article a, .home section#news article #footer address, #footer .home section#news article address {
      color: white;
      display: inline-block;
      margin-bottom: 1em; }
      .home section#news article a.more, .home section#news article #footer address.more, #footer .home section#news article address.more {
        display: block; }

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -304px;
  padding: 0 0 304px; }

#footer {
  background-color: #2c3e50; }
  #footer section {
    background-color: #2c3e50; }
  #footer a, #footer address {
    color: #3498db; }
  #footer address {
    margin-top: 1em; }
  #footer section.copyright {
    color: white;
    margin: 0.5em auto;
    text-align: center; }
