{% capture content %}
{% include 'includes/hero' %}
<section id="content">
  <div class="container">
    <h1 class="content-title">{{title}}</h1>
    {{ body }}

    <p>
      <ul class="list-unstyled">
      {% for asset in assets %}
        <li><a href="{{asset.url}}">{{asset.meta.name}}</a></li>
      {% endfor %}
      </ul>
    </p>
    {% if parent %}
      <p><a href="{{parent.url}}">&larr; Back to {{parent.title}}</a></p>
    {% endif %}
  </div><!-- /container -->
</section><!-- /content -->
{% endcapture %}

{% include 'layouts/default' %}